<script src="https://unpkg.com/html5-qrcode"></script>


  <div data-controller="qr-scan" class="fixed z-40 bottom-8 end-2">

    <button data-action="click->qr-scan#toggleScanWindow" data-qr-scan-target="scanBtn" class="rounded-3xl size-16 bg-black p-3">
      <%= svg_tag('scan_icon') %>
      <!--
      <p class="tracking-wider text-white text-xl">Faire un don</p>
      -->
    </button>

    <div id="bbox" class="hidden fixed flex-col justify-center items-center gap-y-12 bg-black transition transform delay-0 duration-500 ease-in-out">

      <div class="absolute top-7 left-7">
        <button data-action="click->qr-scan#toggleScanWindow">
          <%= image_tag("cross_icon_white.svg", class:"scale-125") %>
        </button>
      </div>

      <div id="scanBox" data-qr-scan-target="scanBox" class="w-60"></div>

    </div>

  </div>
