<div class="sticky top-0">
  <div class="flex justify-end">
    <%= link_to I18n.t('wording.log_in'), new_session_path(resource_name), class:"border border-black rounded-lg text-base px-4 py-2 text-center active:bg-black active:text-white"  %>
  </div>
</div>

<%= render partial:"form_new_user", locals: { role: false } %>
