<%= render partial: 'shared/back_nav_donator' %>

<div class="space-y-8" data-controller="volunteering">

  <% @volunteerings.each do |v| %>
    <%= render partial:'volunteerings/card_host_place', locals: { v: v } %>
  <% end %>

  <%# filter modal %>
  <div class="fixed inset-0 -z-10"
      data-volunteering-target="filter"
      data-action="click->volunteering#toggleModal"></div>

  <%# modal %>
  <div data-volunteering-target="modal" class="fixed z-50 inset-x-0 -bottom-1/2 h-1/2 p-8 rounded-t-3xlflex flex-col justify-between bg-white transition transform delay-0 duration-700 ease-in-out"></div>
</div>
