<%= render partial: 'shared/back_nav_donator' %>

<div class="space-y-8" data-controller="volunteering">

  <% @volunteerings.each do |v| %>
    <%= render partial:'volunteerings/card_host_place', locals: { v:} %>
  <% end %>

  <%# filter modal %>
  <div class="fixed inset-0 -z-10"
      data-volunteering-target="filter"
      data-action="click->volunteering#toggleModal"></div>

  <%# modal actions %>
  <%= render partial: 'volunteerings/actions' %>

</div>
