<div class="w-full" data-controller="clipboard" >
  <button class="relative flex justify-center items-center gap-4 px-3 py-2 rounded-lg text-black <%= bg %> w-full" value="0786415817" data-action="clipboard#copy clipboard#displayCopy" data-clipboard-target="source">
    Nous contacter
    <span><%= svg_tag('headset') %></span>
    <div class="absolute right-4">
      <span data-clipboard-target="defaultIcon"> <%= svg_tag('clipboard', class:'size-3.5') %></span>
      <span data-clipboard-target="successIcon" class='hidden' > <%= svg_tag('check', class:'size-4 stroke-2 stroke-black') %></span>
    </div>
  </button>
</div>
