<div>
  <h2>My asso's places</h2>
  <ul>
  <% @places.each do |place| %>
    <li><%= link_to place.name, assos_place_path(place) %></li>
  <% end %>
  </ul>

  <div class="border px-2 py-2 rounded-lg w-fit bg-black text-white text-center font-medium">
    <%= link_to "add new place", new_assos_place_path %>
  </div>

</div>
