<div>
  <h1>Landing page here</h1><br>
  <h2>Bienvenu</h2>
  <p>Ce projet a pour but d'être un outils indispensable aux associations ainsi qu'à leur donateur</p>
  <p>Nous croyons très fort que tout le monde peut être mieux encourager à soutenir nos associations</p>
  <p>Ceci en rassemblant les associations en un seul endroit, en fluidifiant la donation et en récompensant le donateur</p>
  <p>Découvrer une expérience nouvelle avec 'DoGood' notre plateforme bientôt disponible</p>

  <p>user sign in ?<%= user_signed_in? %></p>
  <p>
    <%= link_to  "sign out",  destroy_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "are you sure ?"}%>
  </p><br>
  <p>
    <%= link_to  "sign in",  new_user_session_path %>
  </p>
</div>
