<div>
  <h1 class="font-bold text-4xl">Assos#dashboard</h1>

  <p>Is asso ?<%= current_user.asso? %></p>
  <p>Is donator ?<%= current_user.donator? %></p>

  <p>Find me in app/views/assos/dashboard.html.erb</p>
  <p><%= link_to  "sign out",  destroy_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "are you sure ?"}%></p>
  <p><%= link_to  "sign in",  new_user_session_path %></p>

</div>
