<div class="flex-auto bg-green-400 rounded-lg px-3 py-2 w-fit text-white text-sm tracking-wider text-center roboto-regular">
  <p>Merci d'avoir partagé votre retour d'expérience. Nous laisserons savoir aux parties concernées les moyens de s'améliorer.</p>
</div>
